@import 'circle';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}
.error{
    text-align: center;
    margin:20px;
}
.d-none{
    display: none;
}

input {
    border: none;

    &:focus {
        outline: none;
    }

    height: 40px;
    width: 200px;
    border-radius: 3px;
    margin:10px;
    text-align: center;
}

button {
    border: none;
    background-color: green;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
}

form {
    display: flex;
    justify-content: center;
}

.moon {
    display: none;
}

.thunder {
    display: none;
}

.cloud {
    display: none;
}

.container {
    background-color: #bfd9fc;
    padding: 70px;
    z-index: 1;
}

.card-outer {
    position: relative;
    padding: 50px 0;
}

.weather-card {
    overflow: hidden;

    font-family: sans-serif;

    h2 {
        font-size: 60px;
            &:after {
                font-size: 50%;
                vertical-align: top;
                content: "o";
            }
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
    }

    .card-body {
        display: flex;
    }

    position: relative;
    padding:40px;
    display: flex;
    flex-direction: column;
    color:white;
    max-width: 750px;
    margin:auto;
    border-radius: 30px;

    .temperature {
        width: 20%;
    }

    .location-date {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .location {
            display: flex;
            margin-top: 10px;

            h5 {
                margin-left: 5px;
            }
        }

        .image {
            width: 20px;
            display: flex;
            align-items: center;
        }

        img {
            width: 100%;

        }
    }

    .bar-container {
        display: flex;
        width: 5%;

        .bar {
            justify-content: center;
            align-items: center;
            margin: auto;
            background-color: white;
            height: 50px;
            width: 3px;
            border-radius: 70%;
        }
    }

}

.day {
    .weather-card {

        background: linear-gradient(90deg, rgba(25, 133, 255, 1) 0%, rgba(45, 187, 254, 1) 62%);
        z-index: 2;

        .side-shadow {
            @include circle(150px, 100px);
            bottom: -50%;
            left: -15%;
            z-index: 3;
            background: linear-gradient(#2ba4ff, #c4e5ff);
        }

        .sun-shadow-bright {
            @include circle(400px, 200px);
            right: -30%;
            top: -130%;
            z-index: 1;
            background: linear-gradient(#C3E5FF, #3ad0ff);
        }

        .sun-shadow-brighter {
            @include circle(350px, 200px);
            right: -30%;
            top: -124%;
            z-index: 2;
            background: linear-gradient(#C3E5FF, #49e3ff);
        }
    }

    .sun-out {
        @include circle(150px, 100px);
        background-color: rgba(#fff, 0.5);
        top: -47px;
        right: -44px;
        z-index: 2;
        filter: blur(4px);
    }

    .sun-in {
        margin: 40px;
        @include circle(100px, 50px);
        background: linear-gradient(45deg, rgba(235, 129, 14, 1) 0%, rgba(255, 255, 179, 1) 62%);
        top: -61px;
        right: -61px;
        z-index: 3;
    }
}

.night {
    .weather-card {
        background: linear-gradient(90deg, rgba(45, 98, 250, 1) 0%, rgba(185, 127, 217, 1) 62%);

        .cloud {
            display: block;
            width: 200px;
            position: absolute;
            right: 3px;
            top: 10px;
        }

        .moon {
            display: block;
            position: absolute;
            width: 100px;
            top: 16px;
            right: 7px;
        }
    }

    .drop-sticker {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 20px;
        left: 350px;

        .droplet {
            margin: 30px;
            background-color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            filter: blur(5px);
        }

        .droplet:nth-child(1) {
            width: 20px;
            height: 20px;
            margin: 10px 0;
        }

        .droplet:nth-child(3) {
            width: 15px;
            height: 15px;
            margin: 10px 0;
        }

        .droplet-group:nth-child(1) {
            rotate: 214deg;

        }

        .droplet-group:nth-child(2) {
            rotate: 23deg;

        }

        .droplet-group:nth-child(3) {
            rotate: 9deg;
        }

        .droplet-group:nth-child(4) {
            display: none;
        }
    }

}


.rain {
    .weather-card {

        background: linear-gradient(90deg, rgba(6, 192, 167, 1) 0%, rgba(138, 255, 166, 1) 62%);
    }

    .cloud {
        display: block;
        width: 200px;
        position: absolute;
        right: -26px;
        top: -55px;
    }

    .thunder {
        display: block;
        position: absolute;
        width: 50px;
        right: 52px;
        top: 91px;
        z-index: 2;
    }

    .rain-image {
        display: inline-block;
        position: absolute;
        width: 250px;
        top: -30%;
        right: -10%;

    }

    .droplet-group {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .droplet-group:nth-child(1) {
        margin-top: 30px;
    }

    .drop-sticker {
        position: absolute;
        display: flex;
        rotate: 12deg;
        top: 62px;
        right: -12px;

        .droplet {
            width: 10px;
            height: 20px;
            background-color: #fff;
            margin: 10px;
            border-radius: 30%;
            filter: blur(4px);
        }
    }
}